body {
    color: darkslategray;
    font-family: Arial, Arial, Helvetica, sans-serif;
    /* Adding backgronud image */
    background-image: url(../images/white_brick_wall.png);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 50%;
}

nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}

nav ul a {
    display: block;
}

h1 {
    color:peru;
}

p {
    background-color: lightblue;
}

h1, h2, h3, h4 {
    text-decoration: underline;
}

nav ul{
    list-style: none;
}

nav ul a{
    color: inherit;
    text-decoration: none;
}

.orange-link.large-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

#treatofweek {
    position: relative;

    /* colour image repeat position-x position-y / size */
    background: orange url(../images/bread.jpg) no-repeat center center;
    background-size: cover;
    color: white;

    /*  1.25 * 16 = 20px */
    font-size: 1.25rem;

    /* 1em = 20px */
    padding: 1em 1em 5em 1em;
}

.orange-link{
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
    padding: 1.5em;
    display: block;
    width: 300px;
}

article,
aside {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}

aside {
    width: 20%;
}

section {
    clear: both;
}

.large-text{
    font-size: 24px;
}

article>p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}

section h3 {
    background-color: cornflowerblue;
    padding: 1em;
    width: 50%;
}

/* CSS Box Model */
section p {
    width: 50%;
    /* top-bottom left-right */
    padding: 1em .5em;
    /* top right bottom left */
    margin: -1em 2em 2em 2em;
    border-bottom: 2px dashed black
}