body {
    color: darkslategray;
    font-family: Arial, Arial, Helvetica, sans-serif;
    /* Adding backgronud image */
    background-image: url(../images/white_brick_wall.png);
}

h1 {
    color:peru;
}

p {
    background-color: lightblue;
}

h1, h2, h3, h4 {
    text-decoration: underline;
}

nav ul{
    list-style: none;
}

nav ul a{
    color: inherit;
    text-decoration: none;
}

#treatofweek {
    /* colour image repeat position-x position-y / size */
    background: orange url(../images/bread.jpg) no-repeat center center;
    background-size: cover;
    color: white;
}

.orange-link{
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
}

.large-text{
    font-size: 24px;
}

article>p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}