body {
    color: darkslategray;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1 {
    color:peru;
}

p {
    background-color: lightblue;
}

h1, h2, h3, h4 {
    text-decoration: underline;
}

nav ul{
    list-style: none;
}

nav ul a{
    color: inherit;
    text-decoration: none;
}

#treatofweek {
    background-color: orange;
}

.orange-link{
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
}

.large-text{
    font-size: 24px;
}