body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
}

body header h1, body footer {
    background-color: peru;
}

.site-title {
    color: purple;
}

main nav a:link {
    text-decoration: none;
    background-color: rgb(238, 204, 55);
    border-style: solid;
}

main nav a:hover {
    background-color: springgreen;
}

#hobbies-list ul {
    list-style-type: square;
}

#hobbies-list ul li:nth-child(odd){
    background-color: slateblue;
}

#my-image img {
    box-shadow: 0px 0px 2px 1px black;
}