/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Changes */

* {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1200px;
	padding-left: 125px;
	padding-right: 125px;
    margin: 0 auto;
    background-color: #a2cec9;
}

.header-img {
	display: inline-block;
	width: 100%;
	height: auto;
}

header h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3.5rem;
	position: relative;
	bottom: 110px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: -3.6rem;
	color: white;
}

.nav-items li, .nav-items li a{
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: black;
	min-width: 32%;
	font-size: 1.3rem;
	padding: 0.2rem 0rem 0.2rem 0rem;
	background-color: rgb(211, 231, 229);
}

.life-main h2 {
	display: block;
	font-size: 1.8rem;
	margin: 0.7rem 0rem 0.7rem 0rem;
}

.life-main img {
	width: 27%;
	height: 27%;
	padding: 0rem 1rem 1rem 0rem;

	float: left;
}

.life-main p {
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.facts-main p {
	display: block;
	font-size: 1.4rem;
	margin: 1.5rem 0rem 1rem 0rem;
}

.facts-main ul{
	list-style-type: disc;
	list-style-position: inside;
	font-size: 0.8rem;
}

.contact-info p {
	display: block;
	font-size: 1.4rem;
	margin: 1.5rem 0rem 1rem 0rem;
}

.contact-form {
	padding-left: 0.7rem;
	padding-top: 1.3rem;
	padding-bottom: 1rem;
	border-width: 0.1rem;
	border-style: solid;
}

.contact-form label {
	padding: 5rem 0rem 1.3rem 0rem;
}

.contact-form input {
	width: 98%;
	box-sizing: border-box;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin: 1rem 0rem 1rem 0rem;
}

.contact-form p input{
	display: inline-block;
	font-size: 1.2rem;
	margin: 0.7rem 0rem 1rem 0rem;
	
}

body main {
	padding: 1%;
	background-color: rgb(211, 231, 229);
}

footer {
	text-align: right;
	padding: 2% 3% 3% 3%;
	margin-bottom: 2%;
	background-color: rgb(211, 231, 229);
}