/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/******************* 
    Media Queries 
*******************/

a, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

@media screen and (min-width:760px) {
    .container{
        max-width: 1200px;
    }
}

.masthead {
    background-color: #222;
}

.logo {
    padding: 15px;
}

.nav-list a {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c78c06;
    text-decoration: none;
}

.nav-list form {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list a:hover, .nav-list a:focus {
    color: #222;
    background-color: #c78c06;
    margin-left: 15px;
    margin-right: 15px;
}

.welcome {
    width: 100%;
    height: 550px;
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    float:inline-start;
}

.welcome-content {
    background-color: rgba(34, 34, 34, 0.8);
    height: 350px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
}

.im-magnifier {
    color:#c78c06;
    background-color: #222;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: #c78c06;
}

.nav-list button {
    border: none;
    background-color: transparent;
}

.welcome-text {
    padding: 55px 10px 35px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
}

.welcome-content p {
    padding: 0px 10px 35px 15px;
    font-size: 0.9rem;
}

.connect-button {
    margin-left: 15px;
    padding: 30px;
    background-color: #c78c06;
    color: black;
    text-decoration: none;
}

/*  About Us */

.about-us {
    background-color: #ffe6ac;
    padding: 15px;
}

.about-us-img {
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.about-us-header {
    font-size: 3.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-us-text p {
    font-size: 0.9rem;
    padding-bottom: 15px;
}

/* Our Services */

.our-services {
    padding: 15px;
}

.our-services-text {
    font-size: 3.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

.digital {
    background-color:#ffe6ac;
    height: 635px;
    margin-bottom: 10px;
}

.digital img {
    width: 100%;
    height: auto;
}

.digital-text {
    font-size: 1.6rem;
    padding: 30px 0px 20px 10px;
}

.digital p {
    font-size: 0.9rem;
    padding: 0px 0px 35px 10px;
}

.digital-button {
    margin: 10px;
    margin-top: 15px;
    padding: 25px;
    background-color:rgba(34, 34, 34);
    color: white;
    text-decoration: none;
}

/* Marketing */

.marketing {
    background-color:#ffe6ac;
    height: 635px;
    margin-bottom: 10px;
}

.marketing img {
    width: 100%;
    height: auto;
}

.marketing-text {
    font-size: 1.6rem;
    padding: 30px 0px 20px 10px;
}

.marketing p {
    font-size: 0.9rem;
    padding: 0px 0px 35px 10px;
}

.marketing-button {
    margin: 10px;
    margin-top: 15px;
    padding: 25px;
    background-color:rgba(34, 34, 34);
    color: white;
    text-decoration: none;
}

/* Video */

.video {
    background-color:#ffe6ac;
    height: 635px;
    margin-bottom: 10px;
}

.video img {
    width: 100%;
    height: auto;
}

.video-text {
    font-size: 1.6rem;
    padding: 30px 0px 20px 10px;
}

.video p {
    font-size: 0.9rem;
    padding: 0px 0px 35px 10px;
}

.video-button {
    margin: 10px;
    margin-top: 15px;
    padding: 25px;
    background-color:rgba(34, 34, 34);
    color: white;
    text-decoration: none;
}

/* Web */

.web {
    background-color:#ffe6ac;
    height: 635px;
    margin-bottom: 10px;
}

.web img {
    width: 100%;
    height: auto;
}

.web-text {
    font-size: 1.6rem;
    padding: 30px 0px 20px 10px;
}

.web p {
    font-size: 0.9rem;
    padding: 0px 0px 35px 10px;
}

.web-button {
    margin: 10px;
    margin-top: 15px;
    padding: 25px;
    background-color:rgba(34, 34, 34);
    color: white;
    text-decoration: none;
}

/* Print */

.print {
    background-color:#ffe6ac;
    height: 635px;
    margin-bottom: 10px;
}

.print img {
    width: 100%;
    height: auto;
}

.print-text {
    font-size: 1.6rem;
    padding: 30px 0px 20px 10px;
}

.print p {
    font-size: 0.9rem;
    padding: 0px 0px 35px 10px;
}

.print-button {
    margin: 10px;
    margin-top: 15px;
    padding: 25px;
    background-color:rgba(34, 34, 34);
    color: white;
    text-decoration: none;
}

/* Vision */

.our-vision {
    width: 100%;
    height: 300px;
    background-image: url('../images/vision.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    float:inline-start;
}